<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><%= t(:"views.lti.import_histories.show.title")%></h1>
        <small><%= t(:"views.lti.import_histories.show.header_guide")%></small>
      </div>
      <div class="col-sm-6">
        <div class="float-sm-right">
        </div>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= simple_form_for(@lti_import_history) do |f| %>
          <%= f.error_notification %>
          <%= render partial: 'form', locals: {form: f} %>
          <%= render partial: 'form_errors' %>
          <div class="card">
            <div class="card-footer">
              <%= link_to t(:"views.lti.import_histories.show.button_cancel"), lti_import_histories_path, class: "btn btn-default btn-sm btn-sm" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>


