<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><%= t(:"views.lti.orgs.new.title")%></h1>
        <small><%= t(:"views.lti.orgs.new.header_guide")%></small>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= simple_form_for(@lti_org, html: {class: "thin_simple_form", id: "new_lti_reflection_form", data: {turbo_confirm: t(:"views.common.create_confirm_message")}}) do |f| %>
          <div class="card">
            <div class="card-body">
              <%= f.error_notification %>
              <div class="form-group">
                <%= render partial: 'form', locals: {form: f} %>
              </div>
            </div>
            <div class="card-footer">
              <%= f.submit t(:"views.lti.orgs.new.button_create"), class: "btn btn-primary btn-sm"%>
              <%= link_to t(:"views.lti.orgs.new.button_cancel"), lti_orgs_path, class: "btn btn-default btn-sm btn-sm" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>


